[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v8.x-binary
[submodule "cross/gcc"]
	path = cross/gcc
	url = git@github.com:CWood1/gcc.git
[submodule "cross/binutils-gdb"]
	path = cross/binutils-gdb
	url = git@github.com:os-venix/binutils-gdb.git
[submodule "kernel"]
	path = kernel
	url = git@github.com:os-venix/kernel.git
[submodule "cross/mlibc"]
	path = cross/mlibc
	url = git@github.com:os-venix/mlibc.git
[submodule "sw/ncurses"]
	path = sw/ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "sw/zsh"]
	path = sw/zsh
	url = https://github.com/zsh-users/zsh.git
